<div class="container">
    <h1 class="titles">Current Player: {{ player }}</h1>

    <button class="newGamebtn" (click)="newGame()">new game</button>
    <div>
        <h2 class="titles2" *ngIf="winner">
            Player {{winner}} won the game!  
        </h2>
        <h2 class="titles2" *ngIf="isDraw">
           It's a draw!
        </h2>
    <p class="restart" *ngIf="winner">Press "new game" to restart.</p>
</div>
    
    <main class="main">
        
        <ttt-square 
            [isActive]="isActive"
            *ngFor="let val of squares; let i = index"
            [value]="val"
            (click)="makeMove(i)">    
        </ttt-square>
        
       
    
    </main>
</div>